.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.authLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

