@use '../../../styles/vars' as *;
@use '../../../styles/helpers/mixins' as *;

.page {
  min-height: 100vh;
  background: #fff;
  color: $color-text;
}

.main {
  width: min(1280px, calc(100% - 48px));
  margin: 0 auto;
  padding: 0 0 $space-12;
}
