@use 'reset';
@use 'vars' as v;
@use 'helpers/mixins' as *;

body {
  font-family: v.$font-family-base;
  font-size: v.$font-size-base;
  color: v.$color-text;
  background-color: v.$color-bg;
  line-height: v.$line-height-normal;
}

:root {
  @include scrollbar;
}

