@use 'reset';
@use 'vars' as *;
@use 'helpers/mixins' as *;

body[class] {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-text;
  background-color: $color-bg;
  line-height: $line-height-normal;
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

:root {
  @include scrollbar;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  color: $color-text;
}

button {
  font-family: inherit;
  color: inherit;
}

